<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @flavor.name %>
</p>

<p>
  <b>Level:</b>
  <%= @flavor.level %>
</p>


<p>
  <b>Image:</b>
  <%= @flavor.image %>
</p>


<%= link_to 'Edit', edit_flavor_path(@flavor) %> |
<%= link_to 'Back', flavors_path %>
