<div class="plan-header"><%= item.get('name') %></div>
<div class="plan-image">
  <img src="<%= item.get('image') %>" alt="<%= item.get('name') %> Image">
</div>
<div class="plan-description">
  <%= item.get('description') %>
</div>
<div class='select-container' data-name="<%= item.get('name') %>">
</div>  