<div class="plan-header"><%= item.get('name') %></div>
<% if (item.get('type') == 'plan') { %>
<div class="plan-add">
<% }%>
<div class="plan-image">
  <img src="<%= item.get('image') %>" alt="<%= item.get('name') %> Image">
</div>
<% if (item.get('type') == 'plan') { %>
</div>
<% }%>

<div class="plan-description">
  <%= item.get('description') %>
</div>
<div class="plan-cost" ><%= item.get('cost') %></div>
<div class='select-container' data-name="<%= item.get('uniqueId') %>">
</div>  