<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Level:</b>
  <%= @item.level %>
</p>

<p>
  <b>Type:</b>
  <%= @item.type %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>

<p>
  <b>Cost:</b>
  <%= @item.cost %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
