<!DOCTYPE html>
<html>
<head>
  <title>Vapor Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application","//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :media => "all" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/',"application" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>
  <div class='banner'></div>
  <div id="spinner"></div>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">Vapor Box</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/how_it_works">How It Works</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/signup">Get Vapor Box</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>Logged in as <strong><%= current_user.email %></strong>.</li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path, :class => 'signup_button' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <div id="main-content">
      <%= yield %>
  </div>
  <footer id="footer">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="logo text-center">Vapor Box</div>
          <div class='footer-description text-center'>
            Build a personalized subscription plan for your vaping juices and supplies.
          </div>
          <div class="social-nav text-center">
            <%= link_to  '' do %>
              <i class="fa fa-facebook fa-3x"></i>
            <% end %>
            <%= link_to '' do %>
              <i class="fa fa-twitter fa-3x"></i>
            <% end %>
            <%= link_to  '' do %>
              <i class="fa fa-google-plus fa-3x"></i>
            <% end %>
            
          </div>
          <div class='footer-nav text-center'>
            <%= link_to 'Home', '' %>
            <%= link_to 'About', '' %>
            <%= link_to 'How It Works', '' %>
            <%= link_to 'Get Vapor Box', '' %>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div id='copyright' class='text-center'>
            <small>Copyright © 2013 Vapor Box</small>

          <div class='container disclaimer'>
            <small>This product is intended for use for those who are 18 and older.</small>
            <br>
            <small>
            WARNING: Products included in Vapor Box contain nicotine, a poisonous and addictive substance. Products and accessories included in Vapor Box are only intended for committed smokers of legal smoking age and not by non-smokers, children, women who are pregnant or may become pregnant or any person with an elevated risk of, or preexisting condition of, any medical condition which includes, but is not limited to, heart disease, diabetes, high blood pressure or asthma. If you experience any side effects or possible side effects, stop using the product immediately and consult a physician. Products included in Vapor Box may be poisonous if orally ingested. Products included in Vapor Box are not smoking cessation products and have not been tested or guaranteed as such. Products included in Vapor Box have not been evaluated by the Food and Drug Administration nor is it intended to treat, prevent or cure any disease or condition. For their protection, please keep out of reach of children and pets.</small>
            <br>
            <small>CALIFORNIA PROPOSITION 65 - WARNING: This product contains nicotine, a chemical known to the state of California to cause birth defects or other reproductive harm.</small>
        </div>
        </div>

      </div>
    </div>
  </footer>
</body>
</html>